.FAQ {
    width: auto;
    background-color: #E5E5E5;
    padding: 105px;
}

.faq-title {
    font-size: 32px;
}

.faq-title-info {
    font-size: 15px;
    margin-top: 13px;
}

.conteiners {
    display: flex;
    margin-top: 30px;
}

.column2 {
    margin-left: 38px;
}

.conteiner-info {
    width: 555px;
    margin-top: 10px;
    margin-bottom: 50px;
}